# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\idea-workspace\atguigu-redis6\jedis-redisdemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
